body{
    background-image: url("kiwtter.png");
}

.bgcolor{
    background-color: rgba(245, 245, 245, 0.836);
	padding: 100px;
	float: none;
	border-radius: 15px;
}

.blue{
    background-color:rgb(77, 128, 224);
}

.blue::placeholder{
    color: rgb(255, 255, 255);
}

.white{
    color: whitesmoke;
}

.header
{
	color:#3c63e2; 
    font-family: 'Yeon Sung';
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px;
}

#output{
    padding: 10px; 
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
}